*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box ;
}
#nav{
    background-color: blanchedalmond;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    
}
#nav>a{
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#nav>a:hover{
    color: grey;
    transition: 2ms;
}
#div{
    padding: 40px;
    border: 2px solid gray;
    background-color: yellow;
    width: 550px;
    height: 400px;
    color: green;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#btn{
    padding: 5px;
    color: red;
    width: 100px;
    border-radius: 10px;
    font-weight: bolder;
}
#btn:hover{
    background-color: blueviolet;
    color: mediumspringgreen;
    transition: 1s;
    border-radius: 10px;
    font-weight: bolder;
}

/* // npm install json-server */
#yeshu{
    display: flex;
    flex-wrap: wrap; 
}
#section{
    margin: 30px;
    width: 400px;
    height: 200px;
    background-color: silver;
    border: 3px solid black;
    padding: 30px;
    color: black;
    border-radius: 20px;

}
#section>p{
     color:brown;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bolder;  
      font-size: large; 
}
#section>p>span{
    color: blue;
    font-weight: bolder;
    font-size: large; 
    margin: 10px;
    padding: 2px;
}
#btn{
    padding: 4px;
    color: red;
    font-weight: bolder;
    font-size: small;
    margin: 10px;
    width: 80px;
}
#cssin[type=text]{
    border: none;
    border-bottom: 3px solid red;
    color: black;
    padding: 2px;
    
}